.about-us-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us-intro h1 {
  font-weight: 600;
}

.about-us-intro h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

.about-us-intro p {
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 1rem;
  color: #303030;
  font-weight: 500;
}

.leader-info {
  height: 100%;
}

.user-picture img {
  margin-top: -7rem;
  background: #f8f9fa !important;
  padding: 10px;
}

.user-image-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 992px) {
  .about-us-intro p {
    width: 80%;
  }
}

@media (max-width: 568px) {
  .footer-logo {
    text-align: center;
  }
}
