.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-container h3 {
  /* font-size: 2.6rem; */
  font-weight: 600;
}

.heading-container p {
  max-width: 60%;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  font-family: "Roboto Condensed" !important;
}

.paragraph_text {
  font-family: "Roboto Condensed";
}

.services {
  background-color: #e8effc;
  padding: 3rem;
  border-radius: 20px;
  margin-top: 3rem;
}

.service_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  padding-bottom: 4rem;
}

.service_even {
  display: flex;
  flex-direction: row-reverse;
}

.service_container img {
  object-fit: cover;
  border-radius: 20px;
  min-width: 25rem;
  max-width: 25rem;
  height: 15rem;
}

.service_container div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.service_container h4 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.service_container p {
  font-size: 1rem;
  font-family: "Roboto Condensed";
}

.service_last {
  padding-bottom: 0;
}

.service-banner {
  background: url(../img/services/service-banner-1.jpg) top left no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
}

.service-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 35%;
  height: 100%;
  margin-left: auto;
  padding: 3rem 4rem;
}

.service-text h4 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}

.service-text p {
  font-size: 1rem;
  font-family: "Roboto Condensed";
  color: #fff;
}

@media (max-width: 992px) {
  .heading-container h3 {
    /* font-size: 2rem; */
    font-weight: 600;
    text-align: center;
  }

  .heading-container p {
    max-width: 90%;
  }

  .service_container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 4rem;
  }

  .service_container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .service_container h4 {
    text-align: center;
  }

  .service_container p {
    text-align: center;
  }
}

@media (max-width: 568px) {
  .heading-container h3 {
    font-size: 1.6rem;
  }

  .service_container {
    padding-bottom: 3rem;
  }

  .service_container h4 {
    text-align: center;
  }

  .service_container p {
    font-size: 0.8rem;
    text-align: left;
  }

  .service_container img {
    min-width: 15rem;
    max-width: 15rem;
    height: 10rem;
  }

  .footer-logo {
    text-align: center;
  }
}
