.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 32rem;
  border: none;
}

.card__side {
  height: 32rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
}
.card__side--front {
  background-color: #dee3fa;
}

.card__side--back {
  transform: rotateY(180deg);
  background-color: #dee3fa;
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.card__heading {
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #303030;
  width: 75%;
  margin-bottom: 1rem;
}

.card__heading--solution {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: left;
  color: #303030;
  width: 75%;
}

.card__heading--solution small {
  font-size: 1rem;
  color: #303030;
  font-weight: normal;
  text-transform: capitalize;
  font-family: "Roboto Condensed";
}

.card__heading_solution--list li {
  font-size: 1rem;
  font-weight: normal;
  text-transform: capitalize;
  text-align: left;
  color: #303030;
  width: 85%;
  min-width: 300px;
  margin: auto;
  font-family: "Roboto Condensed";
  margin-bottom: 1rem;
}

.card__heading_solution--list li b {
  font-family: "Roboto Condensed";
}

.card h4,
.card h4 span,
.card h4 span small {
  font-family: "Roboto Condensed";
}

@media (max-width: 568px) {
  .footer-logo {
    text-align: center;
  }
}
