/********** Template CSS **********/
:root {
  --primary: #355efc;
  --secondary: #e93c05;
  --tertiary: #555555;
  --light: #dfe4fd;
  --dark-primary: #002645;
  --dark-secondary: #268ac1;
}

body {
  font-family: "Roboto Condensed";
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

h1,
.h1,
h2,
.h2,
.fw-bold {
  font-weight: 700 !important;
}

h3,
.h3,
h4,
.h4,
.fw-medium {
  font-weight: 600 !important;
}

h5,
.h5,
h6,
.h6,
.fw-semi-bold {
  font-weight: 500 !important;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.small-heading {
  color: var(--dark-secondary) !important;
  font-family: "Bebas Neue";
  letter-spacing: 2px;
}

.paragraph_text {
  font-family: "Roboto Condensed";
}

.text-style-h1 {
  /* background: linear-gradient(rgba(0, 38, 69, 0.95), rgba(38, 138, 193, 0.95));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: var(--dark-primary);
  font-family: "Bebas Neue";
  letter-spacing: 2px;
}

.logo_text {
  background: linear-gradient(
    to right,
    rgba(0, 38, 69, 0.95),
    rgba(38, 138, 193, 0.95)
  ) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
}

/*** Button ***/
.btn {
  transition: 0.5s;
  font-weight: 500;
}

.btn_text {
  background: linear-gradient(
    to right,
    rgba(0, 38, 69, 0.95),
    rgba(38, 138, 193, 0.95)
  ) !important;
  color: #fff !important;
  border: none !important;
}

.icon_color {
  color: var(--dark-secondary);
}

.btn_text:hover {
  background-color: var(--dark-primary);
  color: #fff;
}

.btn-primary,
.btn-outline-primary:hover {
  color: var(--light);
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

/*** Navbar ***/
.fixed-top {
  transition: 0.5s;
}

.top-bar {
  height: 45px;
  border-bottom: 1px solid rgba(53, 94, 252, 0.07);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
  padding: 25px 15px;
  color: var(--dark-primary);
  font-weight: 500;
  outline: none;
  font-family: "Roboto Condensed";
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--dark-secondary);
}

.nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo img {
  width: 6rem;
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav {
    margin-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    background: #ffffff;
  }

  .navbar .navbar-nav .nav-link {
    padding: 10px 0;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    transition: 0.5s;
    opacity: 0;
  }

  .navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

/*** Header ***/

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 3rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
  background-color: var(--dark-primary);
  border: 10px solid var(--dark-primary);
}

.carousel-control-prev-icon {
  border-radius: 0 3rem 3rem 0;
}

.carousel-control-next-icon {
  border-radius: 3rem 0 0 3rem;
}

.blog-item img {
  min-height: 225px;
}

@media (max-width: 768px) {
  #header-carousel .carousel-item {
    position: relative;
    min-height: 450px;
  }

  #header-carousel .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top top;
  }
}

.page-header-img-blog {
  background: url(../img/banners/blog-banner-3.jpg) top left no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  margin-top: 5rem;
}

.page-header-img-contact {
  background: url(../img/banners/location-banner-3.jpg) top left no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  margin-top: 5rem;
}

.page-header-img-case-study {
  background: url(../img/banners/case-study-banner-3.jpg) top left no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  margin-top: 5rem;
}

.page-header-img-about-us {
  background: url(../img/banners/about-us-banner-3.jpg) top left no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  margin-top: 5rem;
}

.page-header-img-services {
  background: url(../img/banners/services-banner-3.jpg) top left no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  margin-top: 5rem;
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
  font-weight: 500;
}

.page-header .breadcrumb-item + .breadcrumb-item::before {
  color: var(--tertiary);
}

/*** Facts ***/
.facts {
  background: linear-gradient(rgba(0, 38, 69, 0.95), rgba(38, 138, 193, 0.95)),
    url(../img/banners/background-banner.png);
}

/*** Callback ***/
.callback {
  position: relative;
}

.callback::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 38, 69, 0.95), rgba(38, 138, 193, 0.95)),
    url(../img/banners/background-banner.png);
  z-index: -1;
}

/*** Feature ***/
.feature .feature-box,
.feature .feature-box * {
  transition: 0.2s;
}

.feature .feature-box:hover {
  border-color: #fff !important;
  background: linear-gradient(
    to right,
    rgba(0, 38, 69, 0.95),
    rgba(38, 138, 193, 0.95)
  ) !important;
  color: #fff !important;
  /* border: none !important; */
}

.feature .feature-box:hover * {
  color: #ffffff !important;
}

/*** Service ***/
.service .nav .nav-link {
  transition: 0.5s;
}

.service .nav .nav-link.active {
  background: linear-gradient(
    to right,
    rgba(0, 38, 69, 0.95),
    rgba(38, 138, 193, 0.95)
  ) !important;
  color: #fff !important;
  border: none !important;
}

.service .nav .nav-link.active h5 {
  color: #ffffff !important;
}

.service .nav .nav-link.active h5 i {
  color: #ffffff !important;
}

.ai-list {
  line-height: 1.6;
  margin-top: 1rem;
}

.ai-icons img {
  width: 2rem;
  /* height: 1rem; */
  object-fit: cover;
  margin-right: 0.5rem;
}

.ai-list li {
  margin-bottom: 0.8rem;
  font-family: "Roboto Condensed";
}

/*** Project ***/
.project-item,
.project-item .project-img {
  position: relative;
}

.project-item .project-img a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  opacity: 0;
  transition: 0.5s;
}

.project-item:hover .project-img a {
  opacity: 1;
}

.project-item .project-title {
  position: absolute;
  top: 3rem;
  right: 0;
  bottom: 0;
  left: 3rem;
  border: 1px solid var(--light);
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  padding: 18px;
  z-index: -1;
  transition: 0.5s;
}

.project-item:hover .project-title {
  background: var(--primary);
  border-color: var(--primary);
}

.project-item .project-title h4 {
  transition: 0.5s;
}

.project-item:hover .project-title h4 {
  color: #ffffff;
}

.project-carousel .owl-nav {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.project-carousel .owl-nav .owl-prev,
.project-carousel .owl-nav .owl-next {
  margin: 0 12px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: var(--dark-primary);
  border-radius: 45px;
  font-size: 22px;
  transition: 0.5s;
}

.project-carousel .owl-nav .owl-prev:hover,
.project-carousel .owl-nav .owl-next:hover {
  background: linear-gradient(
    to right,
    rgba(0, 38, 69, 0.95),
    rgba(38, 138, 193, 0.95)
  ) !important;
  color: #fff !important;
}

.industries-image-mobile {
  display: none;
}

/*** Team ***/

.team-item {
  position: relative;
  padding: 4rem 0;
}

.team-item img {
  position: relative;
  z-index: 2;
  height: 300px;
}

.team-item .team-text {
  position: absolute;
  top: 0.4rem;
  right: 2rem;
  bottom: 0;
  left: 2rem;
  padding: 15px;
  border: 1px solid var(--light);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 1;
  height: 15%;
}

.team-item:hover .team-text {
  background: linear-gradient(
    to right,
    rgba(0, 38, 69, 0.95),
    rgba(38, 138, 193, 0.95)
  ) !important;
  color: #fff !important;
  border-color: #fff;
}

.team-item img {
  object-fit: cover;
}

.team-item .team-text h5 {
  transition: 0.5s;
  font-size: 1.2rem;
}

.team-item:hover .team-text h5 {
  color: #ffffff;
}

.team-item .team-social .btn {
  background: var(--light);
  color: var(--primary);
}

.team-item:hover .team-social .btn {
  background: #ffffff;
}

.team-item .team-social .btn:hover {
  background: var(--primary);
  color: var(--light);
}

/*** Testimonial ***/
.testimonial-item {
  position: relative;
  text-align: center;
  padding-top: 30px;
}

.testimonial-item .testimonial-text {
  position: relative;
  text-align: center;
}

.testimonial-item .testimonial-text .btn-square {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial-item .testimonial-text::before {
  position: absolute;
  content: "";
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  border: 30px solid;
  border-color: var(--light) transparent transparent transparent;
}

.testimonial-item .testimonial-text::after {
  position: absolute;
  content: "";
  bottom: -59px;
  left: 50%;
  transform: translateX(-50%);
  border: 30px solid;
  border-color: #ffffff transparent transparent transparent;
}

.testimonial-carousel .owl-item img {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.testimonial-carousel .owl-dots {
  margin-top: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--light);
  border-radius: 30px;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 6px;
  left: 6px;
  border-radius: 16px;
  background: var(--light);
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  border-color: var(--primary);
}

.testimonial-carousel .owl-dot.active::after {
  background: var(--primary);
}

/*** Footer ***/

.footer {
  background: linear-gradient(
    to bottom,
    rgba(0, 38, 69, 0.95) 40%,
    rgba(38, 138, 193, 0.95)
  ) !important;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: var(--light);
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

/* .footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
} */

.footer .btn.btn-link:hover {
  color: #fff;
  /* letter-spacing: 1px; */
  box-shadow: none;
}

.copyright {
  color: var(--light);
  background: var(--dark-primary);
}

.copyright-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright a {
  color: var(--light);
}

.copyright a:hover {
  color: #fff;
}

/* .blog-card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  width: 22%;
} */

.blog-card-title {
  font-size: 1rem;
  color: #000;
  font-family: "lato" !important;
  font-weight: normal;
}

.footer-logo img {
  width: 60%;
  /* height: 100%; */
  object-fit: cover;
}

.blog-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

textarea {
  resize: none;
}

.terms_link {
  padding: 0;
}

.footer-logo {
  text-align: center !important;
}

.address {
  text-align: center !important;
}

.quick-links a,
.quick-links h4 {
  text-align: center !important;
}

.class {
  margin-bottom: -1.8rem !important;
}

@media (max-width: 1200px) {
  .team-item .team-text h5 {
    transition: 0.5s;
    font-size: 1rem;
  }

  .team-item .team-text {
    position: absolute;
    right: 1rem;
    left: 1rem;
    padding: 10px;
  }
}

@media (max-width: 1100px) {
  .navbar .navbar-nav .nav-link {
    padding: 25px 8px;
  }
}

@media (max-width: 992px) {
  .page-header-img-about-us,
  .page-header-img-blog,
  .page-header-img-contact,
  .page-header-img-case-study,
  .page-header-img-services {
    height: 50vh;
  }

  .footer-logo img {
    width: 12rem !important;
  }

  .team-item {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
  }

  .team-item img {
    height: 300px;
    width: 300px;
  }

  .team-item .team-text {
    width: 50%;
    margin: 0 auto;
    top: 0rem;
    right: 1rem;
    bottom: 0;
    left: 1rem;
    padding: 10px;
    padding-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .industries-image-mobile {
    display: block;
  }

  .industries-image-desktop {
    display: none;
  }
}

@media (max-width: 568px) {
  .page-header-img-about-us,
  .page-header-img-blog,
  .page-header-img-contact,
  .page-header-img-case-study,
  .page-header-img-services {
    height: 40vh;
  }

  .navbar .navbar-nav .nav-link {
    padding: 10px 15px;
  }

  .copyright-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .team-item {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
  }

  .team-item .team-text {
    width: 50%;
    margin: 0 auto;
    top: 0.6rem;
  }

  .team-item img {
    height: 220px;
    width: 220px;
    object-fit: cover;
  }

  .team-item .team-text h5 {
    font-size: 0.8rem !important;
  }
}
